* {
    box-sizing: border-box;
}

body {
    background-color: rgb(19, 166, 224);
    width: 85%;
    margin: auto;
    text-align: center;
}

.backgroundx {
    background-image: url(images/Background-sunny.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.backgroundo {
    background-image: url(images/Background-raining.png);
    background-size: contain;
    background-repeat: repeat;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 350px;
    width: 350px;
    margin: 0 auto;
    gap: 15px;
}

.board div {
    text-align: center;
    border-radius: 40px;
    background-color: white;
}

.board div:hover {
    background: rgb(249, 233, 123);
    border: 5px solid white;
}

h1 {
    font-size: 90px;
    color: white;
    font-family: 'Londrina Outline', cursive;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 2px;
    color: white;
    font-size: 40px;
    margin: 20px 0px;
}

h3 {
    font-size: 40px;
    color: white;
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 3px;
    margin: 20px 0px;
}

.O {
    font-size: 80px;
    color: #2792df;
    font-family: 'Rubik Puddles', cursive;
    font-weight: bold;
}

.X {
    font-size: 80px;
    color: #81EAFF;
    font-family: 'Rubik Puddles', cursive;
    font-weight: bold;
}

button {
    background-color: transparent;
    font-size: 40px;
    color: white;
    border: none;
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 2px;
    padding: 15px;
    visibility: hidden;
    margin: 0 auto;
}

button:hover{
    border: 3px solid white;
    border-radius: 40px;
}

@media screen and (max-width: 500px){
    h1 {
        font-size: 50px;
    }
    h2, h3, button{
        font-size: 20px;
    }
    h2 {
        margin-bottom: 0px;
    }
}
